$font: "Arial";

$background: rgb(62, 80, 131);

$topbar-bg: rgb(44, 100, 221);
$topbar-color: rgb(255, 178, 115);

$sl-card-bg: rgb(23, 23, 23);
$sl-card-color: rgb(255, 255, 255);

$sl-card-action-bg: rgb(60, 60, 60);
$sl-card-action-color: rgb(255, 255, 255);
