nav {
    -webkit-app-region: drag;
}

nav li {
    -webkit-app-region: no-drag;
}

.menu {
    max-width: 0px;
    padding: 0px !important;
    max-height: 0px !important;
    transition: max-width .5s;
}

.menu-active {
    padding: 20px !important;
    max-width: 220px;
    transition: max-width .5s;
    max-height: fit-content !important;
}

#busqueda,
.section,
.container {
    margin-top: 15px;
    margin-bottom: 7px;
}

.addAnime {
    width: 100%;
}

.input-field input {
    color: white !important;
}

.input-field input:focus {
    border-bottom: 1px solid white !important;
    box-shadow: 0 1px 0 0 white !important;
}

.input-field input:focus+label {
    color: white !important;
}

.row {
    min-height: 100vh !important;
    overflow: hidden;
}

.col {
    height: 400px;
    overflow-x: hidden;
    overflow-y: auto;
    padding-bottom: 50px;
    margin-left: 0px !important;
}

body {
    overflow: hidden;
}

.material-icons.md-dark {
    color: black;
}

.dropdown-content ul li a a:link a:visited {
    color: black;
}

.card {
    height: 350px !important;
    width: 250px !important;
    margin: 0px 0px 210px 0px !important;
}

.card-action {
    padding: 10px !important;
}

.card-download {
    border: none;
    margin-top: 20px;
    text-align: center;
}

.card-download .btn {
    width: 100%;
    font-size: 12px;
}

#filterBar {
    max-height: 8vh;
    margin-top: 50px !important;
    overflow: hidden;
    padding: 1px 5px 15px 5px !important;
    transition-duration: .5s;
}

#filterBar.active {
    transition-duration: .5s;
    max-height: 0px;
    padding: 0px !important;
}